{
  "env": {
    "modules": {
      "plugins": [
        "transform-es2015-modules-commonjs",
        [ "emotion", { "hoist": true } ]
      ]
    },
    "production": {
      "plugins": [
        [ "emotion", { "hoist": true } ]
      ]
    },
    "development": {
      "plugins": [
        ["emotion", { "sourceMap": true }]
      ]
    }
  },
  "presets": [
    [ "env", {
      "useBuiltIns": true,
      "modules": false,
      "loose": true
    } ]
  ],
  "plugins": [
    "transform-react-jsx",
    "transform-class-properties",
    [ "transform-object-rest-spread", { "useBuiltIns": true } ]
  ]
}
